.facebook-icon{
    background-color: #39AEAF ;
    color:white;
    margin-left: 20px;
   
}
.zmdi {
    border-radius :60%;
    margin-right: 30px;
    font-weight: 20px;
    margin-bottom: 6px;

}
.icons-wrapper{
    margin-top: 15px;
    margin-left: 20px;
}
.twitter-icon {
    background-color: #39AEAF ;
    color: white;
    margin-left: 20px;
  }

.google-icon {
    background-color: #39AEAF ;
    color: white;
    margin-left: 20px;
  }

.linkedin-icon {
    background-color: #39AEAF ;
    color: white;
    margin-left: 20px;
  }

.iconsContact {
    /* padding: 0 0 24px; */
    border-right: 0 none;
    border-bottom: 2px solid;
    margin-bottom: 8px;
}
