.app-footer {
    display:flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items:center;
   justify-content:space-between;
    box-shadow:(0 0px 5px 0 rgba(black, 0.26));
    background-color: #0a0a0a;
    color: gray;
    /* min-height: footer-height;
    height: footer-height;
    max-height: footer-height; */
    @media screen and (max-width: 400px) {
      font-size: 14px;
      padding: 0 20px;
    }
  }