.logos{
 
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size:70px;
    color:#21618C;
    text-shadow: -1px 1px 10px rgba(0, 0, 0, 0.75);
    text-decoration: none;
    
    @media screen and (max-width: 575px) {
      height: 32px;
    }
  }
.logoSide{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
 
  color: #2E86C1;
  text-shadow: -1px 1px 10px rgba(0, 0, 0, 0.75);
 
  
  @media screen and (max-width: 575px) {
    height: 28px;
  }
}
  